<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <h1><%= title %></h1>
      <form action="" method="post">
        <div class="username">
          <label for="username">Username </label>
          <br />
          <input
            type="text"
            name="username"
            id="username"
            value="<%= locals.username === undefined ? '' : username %>"
          />
        </div>
        <div class="password">
          <label for="password">Passoword </label>
          <br />
          <input type="password" name="password" id="password" />
          <% if(locals.errors) { %>
          <p class="error"><%=errors.signin.msg%></p>
          <% } %>
        </div>
        <button type="submit" class="btn btn-submit">Submit</button>
      </form>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
